body {
  background: #53868b;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
}

div {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: auto;
}

p {
  text-align: center;
  padding-top: 10pt;
  line-height: 1.3em;
}

a {
  color: white;
}

pre {
  font-family: Monaco, Courier, monospace;
  font-size: 0.8em;
}

img.github {
  width: 17pt;
  height: 17pt;
}
